html {
  font-size: 10px;
  background-color: white;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

  overflow-x: hidden;
}
@media only screen and (max-width: 1500px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 1700px) {
  html {
    font-size: 8px;
  }
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
